name: yearn-v3

plugins:
  - name: solidity
  - name: vyper
  - name: hardhat

default_ecosystem: ethereum
dependencies:
  - name: openzeppelin
    github: OpenZeppelin/openzeppelin-contracts
    ref: 4.9.5
  - name: tokenized-strategy
    github: yearn/tokenized-strategy
    ref: v3.0.4
    config_override:
      contracts_folder: src

solidity:
  version: 0.8.18

ethereum:
  evm_version: paris
  local:
    default_provider: hardhat